<link href="~/style.css" rel="stylesheet" />

<h2>Wine Results</h2>

<h3>Here is your curated Wine list @ViewData["Name"]!</h3>

@foreach (var x in Model)
{
    <div class="wines">
        <p>Wine @x.ID</p>
        <p>Price/Points: $@x.Price / @x.Points pts</p>
        <p> Country: @x.Country - @x.Region_1 / @x.Region_2 </p>
        <p>Winery: @x.Winery | Variety: @x.Variety </p>
        <p>Desc: @x.Description - @x.Designation </p>
    </div>
}